<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <title>Savvy Mammy Home Page</title>


    <link rel="stylesheet" href="bootstrap-3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="Site.css" />
</head>
<body>


    <div class="header">
        <!--<div class="container">
            <div class="row">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>-->
        <div class="container logo-container">
            <div class="row">
                <div class="logo-wrapper col-sm-8 col-xs-8">
                    <div class="logo">
                    </div>
                    <span>Saving busy mums precious time and money!</span>
                </div>
            </div>
              <div class="subscribe-wrapper col-md-3 col-sm-4 col-xs-5 pull-right">
                <h5>Never miss another bargain!</h5>
                <form>
                    <h6>Subscribe to our newsletter:</h6>
                    <input type="text" class="form-control input-sm" placeholder="Email address" />
                </form>
            </div>
        </div>
        
    </div>


    <div class="nav-container container">
        <div class="row">                        
			<nav class="navbar navbar-default col-xs-8" role="navigation">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header left">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>	
					<a class="navbar-brand" href="#">Brand</a>				  
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Baby & Toddler</a></li>
					<li><a href="#">Kids</a></li>
					<li><a href="#">Maternity</a></li>				
				  </ul>					  
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>             
        </div>        		
    </div>


    <div class="main">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
			<div class="item active">
			  <div class="container">
				<div class="carousel-caption">
				  <h1>Example headline 1</h1>
				  <p class="lead">
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. 
					Nullam id dolor id nibh ultricies vehicula ut id elit.
				  </p>
				  <a class="btn btn-large btn-primary" href="#">Sign up today</a>
				</div>
			  </div>			 
			</div>
			<div class="item">
			 <div class="container">
				<div class="carousel-caption">
				  <h1>Example headline 2/h1>
				  <p class="lead">
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. 
					Nullam id dolor id nibh ultricies vehicula ut id elit.
				  </p>
				  <a class="btn btn-large btn-primary" href="#">Sign up today</a>
				</div>
			  </div>	
			</div>
			<div class="item">
			  <div class="container">
				<div class="carousel-caption">
				  <h1>Example headline 3</h1>
				  <p class="lead">
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. 
					Nullam id dolor id nibh ultricies vehicula ut id elit.
				  </p>
				  <a class="btn btn-large btn-primary" href="#">Sign up today</a>
				</div>
			  </div>	
			</div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2>This weeks sales!</h2>
                    <div class="promo-item">
                        <h4>Pumpkin patch flash sale</h4>
                        <div class="promo-image">
                            Image here
                       
                        </div>
                    </div>
                    <div class="promo-item">
                        <h4>Debenhams kids sale!</h4>
                        <div class="promo-image">
                            Image here
                       
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 no-padding-left">
                    <div class="article-item">
                        <h4>Baby article</h4>
                        <div class="article-image">
                            Image here
                       
                        </div>
                    </div>
                    <div class="article-item">
                        <h4>Toddler article</h4>
                        <div class="article-image">
                            Image here
                       
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
	
	
    <div class="footer">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap-3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
