
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <title>Savvy Mammy Home Page</title>
    

    <link rel="stylesheet" href="bootstrap-3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="Site.css"/>
</head>
<body>
    
    
    <div class="header">
        <div class="container">
            <div class="row">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="logo-container">
            <div class="container">
                <div class="row">
                    <div class="logo-wrapper col-sm-8 col-xs-8">
                        <div class="logo">
                        </div>
                        <span>Saving mums precious time and money!</span>
                    </div>
                    <div class="subscribe-header col-sm-4 col-xs-4 pull-right">
                        <!--<span class="promo-icon"></span>-->
                        <h5>Never miss another bargain!</h5>
                        <form>
                            <h6>Subscribe to our newsletter:</h6>    
                            <input type="text" class="form-control input-sm" placeholder="Email address" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <div class="nav-container container">
        <div class="row">
            <div class="logo active pull-left"><a href="#"></a></div>
            <div class="nav-wrapper">
                <ul class="nav nav-pills">
                    <li><a href="#">Baby & Toddler</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Maternity</a></li>
                </ul>
            </div>
        </div>
    </div>
      
    
    <div class="main">
       
        <div class="container">
            <div class="row">
                <div class="col-md-8 no-padding-left">
                    <h2>This weeks sales!</h2>
                    <div class="promo-item">
                        <h4>Pumpkin patch flash sale</h4>
                        <div class="promo-image">
                            Image here
                        </div>
                    </div>
                    <div class="promo-item">
                        <h4>Debenhams kids sale!</h4>
                        <div class="promo-image">
                            Image here
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-padding-left no-padding-right">            
                    <div class="article-item">
                        <h4>Baby article</h4>
                        <div class="article-image">
                            Image here
                        </div>
                    </div>
                    <div class="article-item">
                        <h4>Toddler article</h4>
                        <div class="article-image">
                            Image here
                        </div>
                    </div>
                </div>
            </div>
            
    
        </div>
       
    </div>
    <div class="footer">
        
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap-3.2.0/js/bootstrap.min.js"></script>    
</body>
</html>
