body {
    font-family: 'Droid Sans', "Helvetica Neue",Helvetica,Arial;
    background-image: url("../baby-background-light.png");
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/*body div { border: solid 1px #CCC; }*/

@media (min-width:1200px){.container {
        width: 1000px
    }
}

/*.nav-pills>li>a {
    border-radius: 0;
    color: #FFF;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
}*/

/* Utility classes and defaults*/
h4 { font-family: 'Indie Flower'; }
h2 { margin-top: 10px; }
ul { -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 0; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

/* Header */
.header { width: 100%; background: #282827;margin-top: 20px;} 
.header .logo-container { position: relative;}
.header .logo-container .logo { background: url("../logo-scribble.png"); height: 70px; width: 234px; }
.header .logo-container .sub-title { margin-top: 45px; }
.header .logo-wrapper { margin-top: 10px; border-radius: 4px; padding-top: 10px; padding-bottom: 10px; }

/* Subscribe box */
.subscribe-wrapper { background: #e25d33;position: absolute;top: 0;right: 0;margin-top: -20px; padding: 40px 20px; box-shadow: 3px 3px 5px 0px #333; z-index: 1}
.subscribe-wrapper h5 { font-size: 24px;color: #FFF; margin: 0; padding-bottom: 15px;}
.subscribe-wrapper h6 { font-size: 14px;color: #FFF; }

.nav-container { margin-top: 5px; margin-bottom: 5px;color: #282827; }
.nav-container .navbar{ background: transparent; border: none; box-shadow: none; margin-bottom: 0;} 
.nav-container .navbar>.container-fluid { margin-left: -15px; }

.nav-container .navbar-nav>li { border-bottom: Solid 2px #e25d33;margin-left: 8px;margin-right: 8px; }
.nav-container .navbar-nav>li:first-child{ margin-left: 0; }
.nav-container .navbar-nav>li:last-child{ margin-right: 0; }
.nav-container .navbar-nav>li>a {color: #282827;text-decoration: none; padding: 10px; text-transform: uppercase; box-shadow: none;}
.nav-container .navbar-nav>.active>a, 
.nav-container .navbar-nav>.active>a:hover, 
.nav-container .navbar-nav>.active>a:focus { background: transparent; color: #e25d33; box-shadow: none;}
.nav-container .navbar-nav>li>a:hover, 
.nav-container .navbar-nav>li>a:focus { color: #e25d33; }

.nav-container .navbar .navbar-collapse { padding: 0; margin-left: -15px; overflow: hidden; }

@media (min-width: 992px) {
	.navbar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand { margin-left: -25px; }
	.nav-container .navbar-nav>li {margin-left: 15px;margin-right: 15px; }
}


.nav-container .navbar .navbar-header { float: left; }


.carousel .item { height: 420px; 
	background: rgb(220, 216, 207); /* Fall-back for browsers that don't support rgba */
    background: rgba(220, 216, 207, .5);
}
	
.carousel-caption { top: 20px; }
.carousel .carousel-control { background: none; opacity: 1; filter: alpha(opacity=100); text-shadow: none; width: 6%;}
.carousel-control .glyphicon { color: #48b5ba; }

.footer { background: #434954; height: 150px; }

.promo-item { background: #FFF; height: 260px; border: Solid 1px #EFEFEF; padding: 0 10px 10px; margin-bottom: 20px;}
.promo-item h4 { margin-bottom: 10px; }
.promo-image { width: 100%; height: 210px; border: Solid 1px #EFEFEF; padding: 10px; text-align: center;}

.article-item { background: #FFF; height: 200px; border: Solid 1px #EFEFEF; padding: 0 10px 10px; margin: 15px 0;}
.article-item h4 { margin-bottom: 10px; }
.article-image { width: 100%; height: 150px; border: Solid 1px #EFEFEF; padding: 10px; text-align: center;}

